In [14]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns

frame=pd.read_csv("StatewiseTestingDetails.csv")
frame.head()

         Date                        State  TotalSamples Negative  Positive
0  2020-04-17  Andaman and Nicobar Islands        1403.0     1210      12.0
1  2020-04-24  Andaman and Nicobar Islands        2679.0      NaN      27.0
2  2020-04-27  Andaman and Nicobar Islands        2848.0      NaN      33.0
3  2020-05-01  Andaman and Nicobar Islands        3754.0      NaN      33.0
4  2020-05-16  Andaman and Nicobar Islands        6677.0      NaN      33.0

a)For each Indian state, find maximum cases reported for confirmed, deaths and recovered individually along
with date on which these cases were reported for any three months of year 2020. Display the result in the
self-explanatory format.

b)Use appropriate year-month string date conversions for example: Identify the no. of cases on the 6th day of
the month by converting year-month string to dates

In [37]:
frame.Date = pd.to_datetime(frame.Date,format="%d-%m-%Y").dt.strftime('%d-%m-%Y')
frame[frame["Date"]==dt.datetime(04-17-2020)]

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1241394765.py, line 2)